/* Fuentes de texto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* Colores principales */ 
$BG-dark: #2b1055;
$BG-ligth: #7597de;
$BG-sec: #1c0522;
$html: #dd4b24;
$css: #254ade;
$btp: #7952b3;
$js: #efd91d;
$php: #7477ad;
$cubic: #14253d;
$balance:#f8e9dd;
$balance-shadow:#ec775f;
$vivero:#5e8003;
$rabbit: #FFC0CB;
$barber: #d5a4fc;

/* Color por defecto */
$white: #ffffff;
$black: #000000;